@font-face {
    font-family: "PatrickHand";
    src: url("PatrickHand-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "UbuntuMono";
    src: url("UbuntuMono-Regular.ttf") format("truetype");
  }

html,body{
  background-image: url("/img/bg.jpg");
  height:100%
}

.front{
  background-color: #D3967A;
  margin-right:20%;
  margin-left:20%;
}

nav {
    &.primary-navigation {
      margin: 0 auto;
      display: block;

      text-align: center;
      font-size: 16px;
  
      ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #604f3d;
        display: inline-block;
        padding: 0 30px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: arvo;
      }
  
      li a {
        color: white;
        font-family:"UbuntuMono";
        font-size:20px;
      }
  
      li a:hover {
        color: #c08064;
      }
  
      li:hover {
        cursor: pointer;
      }
  
      ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        left: 0;
        display: none;
        background: #604f3d;
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        min-width: 250px;
        text-align: left;
        padding-top: 20px;
        box-shadow: 0px 3px 5px -1px #747474;
      }
  
      ul li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        border-style: none;
      }
  
      ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid #604f3d;
        transition: all 0.3s ease;
      }
    }
  }
  

  a:hover {
            color: #604f3d;
  }
  
   ul li ul li a { transition: all 0.5s ease; }
  
   .intro{
     text-align: center;
     font-family: "UbuntuMono";
   }

   .port{
     float:right;
     width:25%;
     height:40%
   }

   .box1{
     float:left;
     width:50%;
     font-size:30px;
     text-align:center;
     font-family: "UbuntuMono";
     margin-top:150px;
     margin-bottom: 110px;
   }

   .box2{
     float:right;
     width:50%;
   }
  

   img.rounded-corners {
    border-radius: 50%;
  }

  .about{
    margin-top:50px;
    padding-top:120px;
    text-align: center;
     font-family: "UbuntuMono";
  }

  .certificates{
    text-align: center;
     font-family: "UbuntuMono";
     padding-left:150px;
  }

  .projects{
    text-align: center;
     font-family: "UbuntuMono";
  }

  .footer{
    position:fixed;
    width:100%
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

 